body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    outline: none!important;
}

.LIGAS {
    background-image: url('../imagenes/fondo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.LIGAS::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.LIGAS .caja {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.LIGAS .caja .titulo h2 {
    text-align: center;
    margin: 10px 0px 20px;
    color: #ffffff
}

.LIGAS .caja .bodyform {
    display: flex;
    flex-direction: column;
}

.LIGAS .caja .bodyform input {
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    transition: box-shadow .5s ease;
}

.LIGAS .caja .bodyform input:focus {
    box-shadow: 0px 0px 10px #ffffff;
}

.LIGAS .caja .bodyform input::placeholder {
    color: #ffffff;
}

.LIGAS .caja .bodyform h4 {
    text-align: center;
    margin: 110px 60px 20px;
    font-size: 10px;
    color: rgb(160, 150, 150);
    cursor: pointer;
    position: absolute;
}

.LIGAS .caja .bodyform h4:hover {
    color: #f0eaea;
}

.LIGAS .caja .footerform {
    text-align: center;
}

.LIGAS .caja .footerform button {
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0px 50px;
    color: #ffffff;
    background-color: blue;
    border: none;
    cursor: pointer;
    transition: box-shadow .5s ease;
}

.LIGAS .caja .footerform button:hover {
    background-color: #ffffff;
    color: blue;
}

.LIGAS .caja .footerform button:active {
    font-weight: bold;
}

@media screen and (max-width:500px) {
    .LIGAS {
        background-image: url('../imagenes/imagen2.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        margin: 0 auto;
    }
}